


a {
	text-decoration: none;
}

header {
	height: 97px;
	position: relative;
	margin-top: 23px;
}

nav {
	height: 20px;
	margin-left: 797px;
	position: absolute;
	bottom: 53px;
}

nav .nav-menu-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 30px;

}


main {
	width: 100%;
}

.nav-menu-container span{
	color: #212121;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1px;
}

.nav-block1 {
	margin-right: 44px;
}

.nav-block2 {
	margin-right: 36px;
}

.nav-block3 {
	margin-right: 38px;
}

.nav-block4 {
	margin-right: 31px;
}

.nav-block5 {
	margin-right: 37px;
}

.nav-block6 {
	margin-right: 25px;
}


nav a{
	color: #212121;
}

.logo {
	display: inline-block;
	margin-left: 19%;
	padding-top: 15px;
}

.logo .your-logo {
	width: 125px;
	height: 24px;
	color: #212121;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin-top: 3px;
}

.head-img {
	background: url('../img/header-photo.png');
	background-repeat: no-repeat;
	filter: brightness(25%);
	width: 1398px;
	height: 782px;
	display: block;
	margin: 0 252.5px 0 252.5px;
	position: absolute;
}


.header-img {
	width: 1398px;
	height: 782px;
	margin: 0 auto 0 auto;
	position: relative;

}

.header-img h1 {
	margin: 0;
	text-align: center;
	padding-top: 195px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 3px;
}

.header-img h2 {
	text-align: center;
	padding-top: 50px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1.2px;
	margin-top: 0;
}

.header-title-bottom-1 {
	width: 220px;
	height: 70px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 3px solid #f8f8f8;
	padding: 20px 33px 20px 35px;
	margin-right: 20px;
}

.header-title-bottom-2 {
	width: 220px;
	height: 70px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #00897b;
	padding: 23px 46px 23px 46px;

}

.header-title-bottom-container {
	display: block;
	margin: 133px auto 0px 463px;
}

.marc-icon {
	display: block;
	margin: 124px auto 0 auto;
	cursor: pointer;
}

.about-us {
	margin-bottom: 5%;
}

.about-us h2 {
	margin-left: 878px;
	color: #212121;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
	margin-top: 0;
}

.about-us p {
	margin-top: 30px;
	text-align: center;
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
}

.one-page-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	width: 1070px;
	margin: 0 auto 108px auto;
	padding-top: 28px;

}

.awesome, .one, .fully {
	width: 270px;
}

.awesome p, .one p, .fully p {
	color: #212121;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
	margin: 0 auto;

}

.awesome h2, .one h2, .fully h2 {
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1px;
	margin-bottom: 17px;
	padding-top: 16px;

}

.awesome h2, .fully h2 {
	padding-top: 14px;
}

.our-services-container {
	width: 1398px;
	height: 1410px;
	background-color: #e4fdf9;
	margin: 0 auto;
}

h2.our-title {
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.4px;
	text-align: center;
	padding-top: 189px;
}

p.our-title {
	width: 670px;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
	text-align: center;
	padding-top: 6px;
	margin: 0 auto;
	margin-bottom: 111px;
}

.our-flex-container {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.our-size {
	width: 370px;
	height: 438px;
	background-color: #ffffff;
	margin-bottom: 30px;
	text-align: center;

}

.our-size p {
	width: 271px;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0.75px;
	margin: 0 auto;
	word-break: break-all;
}

.our-size h2 {
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1px;
	margin-top: 32px;
}

.our-size img {
	padding-top: 57px;
}

.our-size .btn {
	margin-top: 40px;
	color: #212121;
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 2px solid #212121;
	padding: 15px 10px;
	margin-left: 31px;
	cursor: pointer;
}

.latest-works h2{
	margin-bottom: 30px;
	text-align: center;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
	padding-left: 2px;
}

.latest-works p {
	width: 650px;
	margin: 0 auto;
	text-align: center;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0.50px;
	padding-left: 4px;
}

.latest-works .s2 {
	width: 178px;
	height: 54px;
	background-color: #ffffff;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 2px solid #00897b;
	margin-right: 2px;
	padding-left: 9px;


}

.latest-works .s1 {
	width: 100px;
	height: 54px;
	background-color: #00897b;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 2px solid #00897b;
	margin-right: 5px;
	padding-left: 12px;
	padding-top: 3px;

}

.latest-works {
	margin-top: 144px;
	margin-bottom: 136px;
}

.latest-menu {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 690px;
	margin: 111px auto 0 auto;
	padding-left: 5px;
}

.latest-works-img {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1170px;
	margin: 120px auto 0 auto;
}

.latest-works-img img{
	padding-bottom: 30px;
}

.latest-works-img-select {
	filter: brightness(30%);
}

.latest-works-button .btn {
	text-align: center;
	width: 220px;
	height: 70px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #00897b;
	border: 2px solid #00897b;
	margin-top: 99px;
	margin-left: 843px;
	padding-top: 1px;

}

.pricing-plan {
	width: 1401px;
	height: 1142px;
	background-color: #f0f0f0;
	margin: 0 auto;
}

h2.price-title {
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1.5px;
	text-align: center;
	margin-bottom:32px;
	padding-top: 128px;
	padding-right: 4px;
}

p.price-title {
	width: 650px;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.75px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 124px;
}

.price-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1169px;
	margin: 0 auto;
}

.price-block {
	background-image: url('../img/bgc-price.png');
	background-repeat: no-repeat;
	background-color: #fff;
	width: 370px;
	height: 667px;

}

.price-block h2 {
	text-align: center;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.25px;
	padding-top: 26px;
	padding-left: 1px;
}

.price-block p {
	text-align: center;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.85px;
	padding-top: 20px;
	padding-left: 10px;
}

.dollar {
	width: 12px;
	height: 20px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.25px;
}

.price-block .cost{
	color: #fff;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 50px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 2.5px;
}

.list-price-container {
	margin: 0 auto;
	padding-top: 97px;
	padding-left: 2px;
}

.price-block span.list-price {
	text-align: center;
	display: flex;
	justify-content: center;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 13px;
	letter-spacing: 0.60px;
	
}

.list-border {
	padding-bottom: 33px;
}

.decor-border {
	font-size: 1px;
	border-bottom: 1px solid #bfbfbf;
	padding-left: 178px;
	margin-left: 93px;
}

.price-block .btn {
	width: 180px;
	height: 60px;
	color: #212121;
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	border: 2px solid #000000;
	letter-spacing: 1px;
	margin-top: 31px;
	margin-left: 93px;
}


